/*Fonts
*******************************************************************************************************************************/
@font-face {
	font-family: 'apercu_proregular';
	src: url('fonts/apercupro-regular-webfont.eot');
	src: url('fonts/apercupro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/apercupro-regular-webfont.ttf') format('truetype'),
		 url('fonts/apercupro-regular-webfont.woff') format('woff'),
		 url('fonts/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'apercu_prolight';
	src: url('fonts/apercupro-light-webfont.eot');
	src: url('fonts/apercupro-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/apercupro-light-webfont.woff') format('woff'),
		 url('fonts/apercupro-light-webfont.ttf') format('truetype'),
		 url('fonts/apercupro-light-webfont.svg#apercu_prolight') format('svg');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'apercu_probold';
	src: url('fonts/apercupro-bold-webfont.eot');
	src: url('fonts/apercupro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/apercupro-bold-webfont.woff') format('woff'),
		url('fonts/apercupro-bold-webfont.ttf') format('truetype'),
		url('fonts/apercupro-bold-webfont.svg#apercu_probold') format('svg');
	font-weight: normal;
	font-style: normal
}

/*Structure
*******************************************************************************************************************************/
body {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: none;-webkit-transform: translate3d(0, 0, 0);}

.fixed{width: 430px;position:fixed;top:10%}
/*Social buttons*/
.social-buts{height:22px;padding:50px 50px 0 0;float: right}
	.facebook-like-btn{width:76px;overflow:hidden}
	.stButton .stMainServices img, .stButton img{display:none}
	.social-buts > span{margin-left:20px;float:right}
	.project-social-buts{margin:19px 0 27px 0;text-align:center}
		.project-social-buts > span{margin-left:22px;display:inline-block;vertical-align:top}
	.social-buts .st_facebook_hcount{margin-left:20px;}
		.social-buts > span span{margin:0;z-index:auto}


.apercu-regular{font-family: 'apercu_proregular'; font-weight: normal !important}
.apercu-bold{font-family: 'apercu_probold'; font-weight: normal !important}
.apercu-light{font-family: 'apercu_prolight'; font-weight: normal !important}

html{font-size: 10px;font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}
html.mobile-ver{height: auto !important}

a{text-decoration: none}
a:hover{text-decoration: underline}

mark{color: #ca3535;background: none}

h1,h2,h3{font-weight: normal!important}
h1{font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}

.logo a img{max-width: 100%}

.swipe {min-height: 320px;position: relative;overflow: hidden;visibility: hidden}
.swipe-wrap {position: relative;overflow: hidden}
.swipe-wrap > section {width:100%;position:relative;float:left}

html, body, .swipe, .swipe-wrap,.mainpage-item.page-item.active, .mainpage-item.page-item, .page-item .mainpage-wrapper {height: 100%;min-height: 530px}

/*Dimmer*/

.ui.dimmed.dimmable>.ui.animating.dimmer, .ui.dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {width: 100%;height: 100%;display: block;opacity: 1; z-index: 999}
.ui.dimmer{width: 0;height: 0;display: none;position: absolute;top: 0!important;left: 0!important;text-align: center;vertical-align: middle;line-height: 1;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: .5s;animation-duration: .5s;-webkit-transition: background-color .5s linear;transition: background-color .5s linear;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;z-index: 1000;}
.ui.dimmer .large.ui.loader, .ui.inverted .large.ui.loader {background-image: url(images/spinner.gif)}
.ui.text.loader {width: 37px;height: auto!important;padding-top: 37px}
.ui.loader {position: absolute;top: 50%;left: 50%;margin: 0;z-index: 1000;-webkit-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}


/*Top header
*******************************************************************************************************************************/
.top-header{width: 100%;border-bottom: 1px solid #e3e3e3;position: absolute;display: none}
.top-header .logo{padding:50px 0 0 50px}

.top-header.mobile{position: static}

.top-header.show{display:block}
	.top-header-i{max-width:1280px;margin:0 auto;position:relative}
		.top-navigation{height:74px;margin-top:-20px;padding:0 50px 0 0;text-align: right;font-size: 0}
			.info-items .info-item:first-child{margin-left:0 !important}
				.top-navigation li{margin-left:4.8%;display:inline-block}
				.top-navigation li.active a{border-bottom:1px solid #000;cursor:pointer;text-decoration: none !important}
					.mobile .top-navigation li.active a{border-bottom: 0 !important}
		  			.top-navigation li a{height:20px;padding-bottom:54px;display:block;color:#ca3535;letter-spacing:1px;font-size:20px;text-transform:uppercase}
		  			.top-navigation li.active a{color:#000}

/*Page-wrapper
*******************************************************************************************************************************/
.page-wrapper{max-width:1280px;padding:50px;margin:0 auto;padding-top:262px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:1}
.page-wrapper.mobile{padding-top: 20px !important;}

	/*Page item*/
	.mainpage-item.page-item{background: #ca3535}
	.page-item.active{visibility: visible !important}


	/*Inner Page*/
	.inner-page .footer{border-top: 1px solid #e3e3e3;text-align:center;font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
	.inner-page .footer.projects-footer{clear: both}
		.inner-page .footer h3{font-size:43px;line-height:50px;padding-top:42px;padding-bottom:17px;width:483px;margin:0 auto}
		.inner-page .footer a{color:#ca3535;font-size:70px;text-decoration:none}
		.inner-page .page-wrapper .footer a:hover{border-bottom: 3px solid #ca3535}

	/*Company page*/
	.company .footer{text-align:left}
	.company .footer > *{margin-left:23.7%!important}
	.company .footer h3{margin:0}
	.content-promo{padding: 0 10.2% 3.64% 23.43%} 
	.content-promo h1{font-size: 48px;line-height: 58px;font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif} 
	.promo-items{margin-bottom: 5.6%;}
	.promo-items .promo-item p{line-height: 26px; margin: 2.6% 21.2% 3% 23.7%; font-size: 20px; font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
	.promo-items .promo-item h2{font-size: 72px}
	.sign{margin-left:21.88%;color:#ca3535;font-family:'apercu_prolight',Arial, "Helvetica Neue",Helvetica,sans-serif;font-size:90px;line-height: 15%}
	
	/*Projects*/
	.projects-topic{font-size: 72px;line-height: 82px;text-align:center}
	.project-items{margin:56px auto 40px auto;font-size:0;text-align:center}
		.project-item{width: 33.33421%;display:inline-block;vertical-align:top}
		.project-item:hover{background:#ca3535}
			.project-item:hover .project-name strong, .project-item:hover .project-name, .project-item:hover .work-type{color:#fff;border-color:#fff}
			.project-item a{display:block;text-decoration:none}
				.project-item img{width:100%;-webkit-box-shadow: 1px 1px 20px #000;-moz-box-shadow: 1px 1px 20px #000;box-shadow: 1px 1px 20px #000}
				.project-item figure{padding:20px}
					.project-item figcaption{margin-top:20px;text-align:left}
				.project-item .project-name{display:block;font-size:32px;line-height:35px;color:#000}
				.project-item .project-name strong{color:#ca3535}
				.work-type{margin-top:19px;margin-right:8px;padding:3px 14px 6px 14px;border:1px solid #000;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;display:inline-block;font-size:18px;color:#000}


	/*Info items*/
	.info-item-960{display:none}
	.info-items{margin-bottom:4.3%}
	  .info-items .info-item{width: 25.66%;margin-left:4.2373%;margin-top: 0.8%;float: left}
		.info-items .info-item p.accent{color: #797979; font-size: 23px}
		.info-items .info-item p{font-size: 34px; white-space: nowrap; font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif;line-height: 40px}
		.info-items .info-item p.address{white-space: normal}
		.info-items .info-item p.tel{margin-left: -5.8%;letter-spacing: -0.8px}
		.info-items .info-item a{color: #ca3535; word-wrap:break-word;letter-spacing:0px;font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}
		.info-items .info-item .social-b:hover{background-image:url(images/fb-tw-icons-red.png);border-color:#ca3535}
		  .info-items .info-item p strong{font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}
		  .info-items .info-item p strong span{font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
		.info-item.phone-item{width: 28%; margin-left: 4.8%}
	.social-b{width: 34px;height: 34px;display: inline-block;-webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px; border: 2px solid #000; background: url(images/fb-tw-icons.png) no-repeat 0 6px;}
	.twitter{margin-left: 8%;margin-top: 13px;background-position: 0 -23px !important}
	.info-item.social-item{width: 10%;margin-top:5px;margin-left:0;float:right;text-align:right}

	.projects-items li figure img.retina-image{width: 84.827586%}
	#maparea{height: 694px; position: relative}
		#maparea a{display: block}
			#maparea a img{width: 100%}

	/*Project*/
		.back-960, .back-320{display:none}
		.page-item.project p, .page-item.project cite, .page-item.project .sim-proj-title{font-family:'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
		.page-item.project .page-wrapper{padding-top:256px}
		.sim-proj-title{margin-top:44px;text-align:center;font-size:43px}
		.sim-proj-title + .project-items{margin-top:34px}
		/*Top-panel*/
		.top-panel .work-type{margin-top:0;}
		.top-panel .back, .top-panel .back-960, .top-panel .back-320{font-size:18px;color:#818181}
			.top-panel .back .back-i, .top-panel .back-960 .back-i, .top-panel .back-320 .back-i{width:14px;height:27px;margin-right:13px;display:inline-block;vertical-align:middle;background:url(images/back-i.png) no-repeat center}
		.work-types{margin-left:13%}
		.top-panel .site-link{float:right;line-height: 29px}
		.site-link{color:#ca3535;font-size:18px}

		/*Project-descr*/
		.project-descr h1{padding:10px 14%;text-align:center;font-size:72px;line-height:82px}
		.project-descr h1 strong{font-size:72px;color:#ca3535;font-weight:normal}
		.project-descr .descr{width: 655px;margin: 0 auto;font-size:22px;line-height:30px}

		/*Project-middle*/
		.project-middle{padding:25px 0 51px 50px;border-bottom:1px solid #e3e3e3}
			.project-middle-item{}
				.project-middle-item.center{text-align:center}
				.project-middle-item > .inline{display:inline-block;vertical-align:middle}
				.project-middle-item .project-content{width:705px;margin:0 auto;font-size:18px;line-height:24px}
				.project-middle-item .project-content.quote{margin-top:49px;position:relative;display:block;font-style:normal;text-transform:uppercase;color:#ca3535;font-size:20px;line-height:35px}
				.project-middle-item .project-content.quote:before{content:" ";width:48px;height:45px;position:absolute;left:-75px;top:8px;background:url(images/d-arrow.png) no-repeat center}
					.project-middle-item .project-content.quote .author{margin-right:24px;margin-top:11px;display:block;float:right;color:#000}
						.project-middle-item .project-content.quote .author .author-accent{color:#a4a4a4}
				.project-middle-item .project-content.img-accent{color:#a3a3a3;font-size:16px;text-align:left;line-height:21px}

		.project-img{width:51.99%;margin:20px;margin-bottom:57px;-webkit-box-shadow: 1px 1px 20px #000;-moz-box-shadow: 1px 1px 20px #000;box-shadow: 1px 1px 20px #000}
		.project-img.centered{margin:54px 20px 50px -12px}
		.project-middle .over-img-descr{width:32%;margin-left:3.1%;font-size:18px;line-height:24px}

	/*Mainpage wrapper*/
	.mainpage-wrapper{padding:50px;background: #ca3535}
		.mainpage-wrapper h1{max-width: 60%;font-family:'apercu_probold', Arial, "Helvetica Neue", Helvetica, sans-serif;color:#fff;font-size: 85px;line-height: 101px}

	.mainpage-wrapper  .footer:after{width: 100%;height: 0;content: '';display: inline-block;font-size:0;line-height:0}
	.mainpage-wrapper .footer{border-top: 0}
		.mainpage-wrapper .logo{position:absolute;bottom:50px;left:50px}
		.mainpage-wrapper .bottom-navigation{position:absolute;right:50px;bottom:50px}
			.mainpage-wrapper .bottom-navigation li{margin-left:59px;float:left;font-size:20px;text-transform:uppercase}
			.mainpage-wrapper .bottom-navigation li:first-child{margin-left:0}
			.mainpage-wrapper .bottom-navigation li a{color: #ffa8a8}

/*Media-queries
*******************************************************************************************************************************/
@media screen and (max-width: 1600px) {
	.mainpage-wrapper h1 {max-width: 80%}
}
@media screen and (max-width: 1280px) {
	html{font-size: 8px;}
	.mainpage-wrapper h1 {max-width: 85%;}
}
@media screen and (max-width: 1170px) {
	.info-item-1280{display:none}
	.info-item-960{display:block}
	.contact .info-items .info-item:nth-child(5){width:50%;margin-left:0;margin-top:32px}
	.contact .info-items .info-item:nth-child(2){clear:right}
	.contact .info-items .info-item{width:40%}
	.info-item.social-item{width:11%!important;margin-top:-124px}

}
@media screen and (max-width: 1024px) {
	.mainpage-wrapper h1{max-width: 100%;}
}
@media screen and (max-width: 915px) {
	.contact .info-items .info-item, .contact .info-items .info-item:nth-child(5){width:45.2%}
	.info-item.social-item{width:20%!important;margin-top:34px;margin-left:4.8%;float:left;text-align:left}
}
@media screen and (max-width: 960px) {
	.info-items .info-item{margin-left:6.8%}
	.company .footer > *{margin-left:15.5%!important}
	.promo-items .promo-item p{line-height: 26px;margin:3.6% 7.2% 3% 15.5%}
	.content-promo{padding:0 2.2% 2.3% 15.8%}
	.content-promo h1{font-size:44px}
	.back{display:none}
	.back-960{display:inline}
	.project-img{margin:2.3%}
	.project-img.centered{margin:36px 20px 50px -12px;width:71%}
	.project-middle-item .project-content.quote{margin-top: 32px}
	.project-middle .over-img-descr{width: 39%;margin-left:2%}
	.project-middle {padding:25px 0 51px 0}
	.project-middle-item > .inline.project-img{width:54%}
	.project-descr h1{padding:10px 50px}
	.work-types {margin-left:55px}
	.page-item.project .page-wrapper{padding-top:297px}
	.top-navigation li a{padding-bottom:36px}
	.top-navigation{margin-top:47px;height:56px;padding-right:0;text-align:left}
	.top-navigation li:first-child{margin-left:5.3%!important}
	.top-navigation li{margin-left:6.1%}
	.project-item{width: 45%}
	.top-header .logo{padding:5% 0 0 5.3%}
	.social-buts{padding:5.2% 4.7% 0 0}
	.page-wrapper {padding:42px}
	html, body, .swipe, .swipe-wrap, .mainpage-item.page-item.active, .mainpage-item.page-item, .page-item .mainpage-wrapper {min-height:0}
	.page-item .mainpage-wrapper{padding-right:0}
	.twitter{margin-left: 13px;}
	.left-col h1 {font-size:24px;line-height:normal}
	.inner-page .footer h2 {font-size: 30px;line-height: 40px; margin-top: 14px;}
	.sign{margin-left:13.88%;line-height:33%}
	/*.promo-items .promo-item h2 {font-size: 28px;}*/
	.info-items .info-item p.tel {margin-left: 0;}

	.mainpage-wrapper h1{font-size:74px;line-height:89px}
	.mainpage-wrapper .bottom-navigation{margin-top:95px;position:static;text-align:left}
		.mainpage-wrapper .bottom-navigation li{margin-bottom:39px;margin-left:0;display:block;float:none;font-size:20px}
	.page-wrapper{padding-top:299px}
		
	/*.content-promo{padding-right: 0; padding-left: 0}*/
	/*.promo-items .promo-item p{margin-left: 0;margin-right: 0;margin: 2.6% 0 25px 0}*/
	/*.content-promo h1 {font-size: 24px;line-height: 36px;}*/
	/*.inner-page .footer a{font-size:40px}*/
	/*.inner-page .footer h3 {padding-top:32px;width:auto;font-size:36px;line-height:40px}*/
}
@media screen and (max-width: 885px) {
	.top-panel{height:78px;position:relative}
	.work-types{margin-left:0;position:absolute;left:22%;top:56px}
	.project-middle-item .project-content{width:100%}
	.project-middle-item .project-content.quote:before{left:-66px;top:1px;-webkit-transform:scale(0.7);-moz-transform:scale(0.7);-ms-transform:scale(0.7);-o-transform:scale(0.7);transform:scale(0.7)}
	.project-middle-item .project-content.quote{margin-top:32px;width:80%;line-height:29px;font-size:18px}

}
@media screen and (max-width: 850px) {
	.mainpage-wrapper h1{font-size:60px;line-height:78px}
}
@media screen and (max-width: 720px) {
	.info-items .info-item p{font-size:27px}
}

@media screen and (max-width: 700px) {
	.info-items .info-item{margin-left:3.6%}
	.contact .info-items .info-item:nth-child(5),.contact .info-items .info-item{width:48%}
	.social-buts{padding:50px 33px 0 0}
	.company .footer > *{margin-left:0%!important}
	.sign {margin-left:0;display:block;padding:13px 0 49px 0px}
	.promo-items .promo-item p{margin:3.6% 0 3% 0%;font-size:18px}
	.promo-items .promo-item h2{font-size:60px}
	.content-promo{padding: 0 0 5.6% 0%}
	.content-promo h1{font-size:37px;line-height:51px}
	.sim-proj-title{margin-top:36px}
	.project-img.centered{margin:36px 0 45px 0;width:99%}
	.project-middle-item .project-content.quote .author{margin-right:0px;margin-top:22px}

	.project-middle-item .project-content{width:auto;font-size:15px;line-height:22px}
	.project-middle-item > .inline.project-img{width:78%;margin:0 auto}
	.project-middle-item > .inline{display:block;width:100%;margin:31px 0 0 0;font-size:15px;line-height:22px}
	.project-descr .descr{font-size:18px;width:auto}
	.project-descr h1{font-size:60px;padding:10px 0px;line-height:75px}
	.project-descr h1 strong{font-size:60px}
	.page-item.project .page-wrapper{padding-top:435px}
	.top-navigation li:first-child{margin-left:0!important}
	.top-header .logo {padding:50px 0 0 50px}
	.inner-page .footer a{font-size:60px}
	.inner-page .footer h3 {padding-top:32px;font-size:43px;line-height:40px}
	.projects-topic {font-size:60px;line-height:67px}
	.project-item {width:63%}
	.top-header-i .top-navigation{height:auto;margin-top:48px;padding-left:50px;text-align:left}
			.top-header-i .top-navigation li{height:auto;margin-bottom:38px;padding-bottom:0;margin-left:0;float:none;display:block}
			.top-header-i .top-navigation li:last-child{margin-bottom:46px}
				.top-header-i .top-navigation li a{display:inline-block;padding-bottom:0;border-bottom:1px solid transparent!important;font-size:18px;letter-spacing:2.1px}
	.page-wrapper {padding:50px;padding-top:439px}

}
@media screen and (max-width: 650px) {
	.promo-items .promo-item h2{font-size:50px}
	.inner-page .footer a{font-size:50px}
	.inner-page .footer h3 {font-size:33px}
	.mainpage-wrapper h1{font-size:54px;line-height:65px}
}
@media screen and (max-width: 630px) {
	.contact .info-items .info-item{width:100%;margin-left:0;margin-top:0!important;float:none}
	.info-items .info-item p{font-size:30px}
	.info-item.social-item{width: 100%!important}
}

@media screen and (max-width: 600px) {
	.social-buts{padding-bottom: 15px}
	.page-wrapper{padding-top: 451px}
	.top-navigation li a{font-size:16px}
	.inner-page .footer h3{font-size:30px;line-height:normal;width:auto}
	.inner-page .footer a{font-size:40px;margin-top:7px}
	.promo-items .promo-item h2{font-size:40px}
}

@media screen and (max-width: 490px) {
	.work-types{left:10%}
}


@media screen and (max-width: 480px) {
	.info-item-1280{display:block}
	.info-item-960{display:none}
	.company .promo-items .promo-item:last-child p{margin-bottom:38px}
	.sign{font-size:61px}
	.promo-items .promo-item p{margin:3.6% 0 3% 0%;font-size:16px}
	.promo-items .promo-item h2{font-size:40px}
	.content-promo{padding: 0 2.2% 5.6% 0%}
	.content-promo h1{font-size:24px;line-height:37px}
	.page-item .mainpage-wrapper{padding:40px 0 40px 40px}
	.mainpage-wrapper .logo{bottom:40px;left:40px}
	.sim-proj-title{margin-top:39px;font-size:40px}
	.project-middle-item .project-content.quote, .project-middle-item .project-content.quote .author{font-size:16px}
	.project-middle-item > .inline.project-img{width:100%}
	.project-descr .descr{line-height:24px}
	.project-descr h1 strong{font-size:40px}
	.project-descr h1{font-size:40px;line-height:48px;padding-top:20px}
	.top-panel .back{font-size:15px}
	.work-types{left:9%;top:54px}
	.page-item.project .page-wrapper{padding-top:465px}
	.social-buts {padding-top:5.2%;position:absolute;left:23px;top:104%}
		.social-buts > span{float:left}
	.top-header-i .top-navigation {margin-bottom:97px;padding-left:42px}
	.top-header .logo {padding:42px 0 0 42px}
	.info-items .info-item {margin-bottom:5.3%;margin-left:0;width:100%;}
	.top-header-i .top-navigation li{margin-bottom:34px}
		.top-header-i .top-navigation li a {font-size:16px}
	.page-wrapper{padding:42px;padding-top:453px}
	.twitter{margin-top: 0}
	.project-items{margin:16px auto}
	.project-item{width:100%}
	.projects-topic{font-size:40px;line-height:50px}
	.project-item .project-name {font-size: 28px}	
}

@media screen and (max-width: 430px) {
	.work-types{left:0%}
	.back-960{display:none}
	.back-320{display:inline}
	.work-type{font-size:13px}
	.promo-items .promo-item h2{font-size: 27px}
}

@media screen and (max-width: 380px) {
	.info-items .info-item p{font-size:27px}
	.inner-page .footer a{font-size:28px}
	.inner-page .footer h3 {width:290px;font-size:22px}
	.mainpage-wrapper h1{font-size:35px;line-height:43px}
	.mainpage-wrapper .bottom-navigation li{font-size:15px}
	.mainpage-wrapper .bottom-navigation{margin-top:38px}
}
@media screen and (max-width: 320px) {
	.content-promo h1{font-size:20px;line-height:31px}
	.sim-proj-title + .project-items{margin-top:12px}
	.project-middle{padding:25px 0 27px}
	.sim-proj-title{margin-top:20px;font-size:22px}
	.project-middle-item .project-content.quote:before{left:-50px;-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5);-o-transform:scale(0.5);transform:scale(0.5)}
	.project-middle-item > .inline, .project-middle-item .project-content, .project-middle-item .project-content.quote, .project-middle-item .project-content.quote .author{font-size:14px}
	.project-descr .descr{font-size:16px}
	.project-descr h1{padding-top:30px;font-size:28px;line-height:35px}
	.project-descr h1 strong{font-size:28px}
	.work-types{left:4%;top:70px}
	.page-item.project .page-wrapper{padding-top:340px}
	.inner-page .footer h3{width:auto}
	.top-header .logo {padding:24px 0 0 24px}
	.social-buts {left:1.1%;top:104%}
	.inner-page .footer h3{padding-bottom:7px}
	.page-wrapper {padding:340px 24px 24px}
	.logo a img, .logo img{max-width:70%}
	.top-header-i .top-navigation li{margin-bottom:18px}
		.top-header-i .top-navigation{margin-top:29px;margin-bottom:78px;padding-left:24px}
		
	.project-item{width: 100%}
	.projects-topic{padding:0 21px;font-size:27px;line-height:32px}
	.project-items{margin: 30px auto}
	.project-item .project-name{font-size: 22px}
	.top-header-i .top-navigation li a{font-size:16px}
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
        	.social-b{background: url(images/fb-tw-icons@2x.png) no-repeat -2px 5px; background-size: 39px;}
			.social-b:hover{background-image:url(images/fb-tw-icons-red@2x.png)}
        	.twitter{background-position: -2px -28px !important;}
}



