/*Structure
*******************************************************************************************************************************/
@font-face {
    font-family: 'apercu_proregular';
    src: url('fonts/apercupro-regular-webfont.eot');
    src: url('fonts/apercupro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apercupro-regular-webfont.ttf') format('truetype'),
         url('fonts/apercupro-regular-webfont.woff') format('woff'),
         url('fonts/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'apercu_probold';
    src: url('fonts/apercupro-bold-webfont.eot');
    src: url('fonts/apercupro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apercupro-bold-webfont.woff') format('woff'),
         url('fonts/apercupro-bold-webfont.ttf') format('truetype'),
         url('fonts/apercupro-bold-webfont.svg#apercu_probold') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'apercu_prolight';
    src: url('fonts/apercupro-light-webfont.eot');
    src: url('fonts/apercupro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apercupro-light-webfont.woff') format('woff'),
         url('fonts/apercupro-light-webfont.ttf') format('truetype'),
         url('fonts/apercupro-light-webfont.svg#apercu_prolight') format('svg');
    font-weight: normal;
    font-style: normal
}

.apercu-regular{font-family: 'apercu_proregular'; font-weight: normal !important;}
.apercu-bold{font-family: 'apercu_probold'; font-weight: normal !important;}
.apercu-light{font-family: 'apercu_prolight'; font-weight: normal !important;}
html{
    font-size: 10px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    font-family: 'apercu_proregular';
}
a{text-decoration: none;}
mark{background: none; color: #ca3535;}
h1,h2,h3{font-weight: normal!important;}
h1{font-family: 'apercu_proregular';}
.sign{font-size: 9rem; color: #ca3535; margin-left: 22.88%; line-height: 8%;}
img{max-width: 100%;}
.logo a img{max-width: none !important;}

.swipe {overflow: hidden;visibility: hidden;position: relative; min-height: 550px;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > section {float:left;width:100%;position: relative;}
html, body, .swipe, .swipe-wrap,.mainpage-item.page-item.active, .mainpage-item.page-item, .page-item .mainpage-wrapper {height: 100%}
.page-item{height: 1px;}
.page-item.active{height: auto;}
.top-header{position: absolute; width: 100%; display: none;}
.top-header.show{display: block;}
  .inner-page-header{margin-bottom: 5.2%; max-width: 1180px; margin: 0 auto; padding: 3.90625% 3.90625% 0 3.90625%; }
    .inner-page-header .logo a{display: inline-block;width: 0%;}
    .inner-page-header nav{width: 100%; margin-top: -20px;}
      .inner-page-header nav ul{padding-left: 47.457627%;border-bottom: 1px solid #e3e3e3; height: 60px;font-size: 0;}
        .inner-page-header nav ul li{display: inline-block;margin-left: 7%;height: 60px;}
        .inner-page-header nav ul li:hover a, .inner-page-header nav ul li.active a{border-bottom: 1px solid black; cursor: pointer;}
          .inner-page-header nav ul li a{color: #ca3535; font-size: 2rem;padding-bottom: 40px;text-transform: uppercase;display: block;height: 20px;}
          .inner-page-header nav ul li:hover a, .inner-page-header nav ul li.active a{color:black;}
.page-wrapper{max-width: 1180px; padding: 3.90625%; margin: 0 auto;padding-top: 270px; z-index: 1}
  .content-promo{padding: 0 10.2% 5.9% 24.7% } 
    .content-promo h1{font-size: 4.8rem;line-height: 6rem;} 
  .promo-items{margin-bottom: 6%;}
    .promo-items .promo-item p{line-height: 3rem;margin: 3% 21.2% 3% 24.7%; font-size: 2rem; font-family: 'apercu_prolight';}
    .promo-items .promo-item h2{font-size: 7.2rem}
  .inner-page div.footer{border-top: 1px solid #e3e3e3; padding:5.678% 29.66% 6.6% 24.7%;font-family: 'apercu_prolight'}
    .inner-page div.footer h2{font-size: 4.3rem;}
    .inner-page div.footer a{font-size: 7rem; color: #ca3535;margin-top: 4%; display: block;}
  .left-column{width: 37%; padding-right: 10.3%;display: inline-block;vertical-align: top;}
    .left-column h1{font-size: 7.2rem;}
    .content-column{display: inline-block;width: 50%; word-wrap:break-word;}
      .project-item {margin-bottom: 9%;}
        .project-item *{font-family:'apercu_prolight';}
        .project-item a{font-size: 2.4rem; color: black;}
        .project-item p{font-size: 1.8rem; color: #b2b2b2;margin-top: 2%;}
          .project-item figure img{margin-left: -2.7%; max-width: 100%;}
          .project-item figure figcaption{border-left: 1px solid #ca3535;margin-left: -2.7%;padding-left: 2.7%;}
      .content-column div.footer{border: 0; padding: 0;}
.info-items{margin-bottom: 5.9%;}
  .info-items .info-item{ display: inline-block;vertical-align: top; width: 25.66%; margin-left:4.2373%; }
    .info-items .info-item p.accent{ color: #797979; font-size: 2.3rem; }
    .info-items .info-item p{font-size: 3.4rem; font-family: 'apercu_prolight';line-height: 4rem;}
    .info-items .info-item a{color: #ca3535; word-wrap:break-word;}
      .info-items .info-item p strong{font-family: 'apercu_proregular'}
    .info-item.phone-item{width: 28%; margin-left: 2%;}
.inner-page-header nav ul li:first-child, .info-items .info-item:first-child{margin-left: 0 !important;}
  .social-b{-webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px; display: inline-block;height: 39px;width: 39px; border: 3px solid black; background: url(images/fb-tw-icons.png) no-repeat 0 8px;}
  .twitter{background-position: 0 -21px;margin-left: 8%}
  .info-item.social-item{width: 12.7%; float: right;text-align: right;margin-left: 0;}
.project-item figure img.retina-image{width: 84.827586%;}
#maparea{height: 694px;}

.mainpage-wrapper{padding: 0 4%;min-height: 636px;background: #ca3535;}
  .mainpage-wrapper div.header{margin: 0;padding-top: 3%;}
    .mainpage-wrapper div.header h1{color: white;font-size: 8.5rem;max-width: 60%;line-height: 10.1rem;}

.mainpage-wrapper  div.footer{position: absolute; right: 0;left: 0;bottom: 0;padding: 0 4% 4% 4%;}
.mainpage-wrapper div.footer{border-top: 0;}
  .mainpage-wrapper div.footer nav, .mainpage-wrapper  div.footer .logo{display: inline-block; vertical-align: bottom;}
  .mainpage-wrapper div.footer nav{width: 80%;} 
    .mainpage-wrapper  div.footer .logo{width: 19%;}
    .mainpage-wrapper div.footer a{font-size: 2rem}
    .mainpage-wrapper div.footer nav ul{text-align: right;}
      .mainpage-wrapper div.footer nav ul li{display: inline-block;margin-left: 7%;}
        .mainpage-wrapper div.footer nav ul li a{color: #ffa8a8;}

