/*Fonts
*******************************************************************************************************************************/
@font-face {
	font-family: 'apercu_proregular';
	src: url('fonts/apercupro-regular-webfont.eot');
	src: url('fonts/apercupro-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/apercupro-regular-webfont.ttf') format('truetype'),
		 url('fonts/apercupro-regular-webfont.woff') format('woff'),
		 url('fonts/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'apercu_prolight';
	src: url('fonts/apercupro-light-webfont.eot');
	src: url('fonts/apercupro-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/apercupro-light-webfont.woff') format('woff'),
		 url('fonts/apercupro-light-webfont.ttf') format('truetype'),
		 url('fonts/apercupro-light-webfont.svg#apercu_prolight') format('svg');
	font-weight: normal;
	font-style: normal
}

/*Structure
*******************************************************************************************************************************/
body {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: none}

/*Social buttons*/
.social-buts{width: 40%;height:22px;float: right}
	.stButton .stMainServices img, .stButton img{display:none}
	.social-buts > span{float:right}
	.social-buts .st_facebook_hcount{margin-left:20px;}
		.social-buts > span span{margin:0;z-index:auto}


.apercu-regular{font-family: 'apercu_proregular'; font-weight: normal !important}
.apercu-bold{font-family: 'apercu_probold'; font-weight: normal !important}
.apercu-light{font-family: 'apercu_prolight'; font-weight: normal !important}

html{font-size: 10px;font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}
html.mobile-ver{height: auto !important}

a{text-decoration: none}
a:hover{text-decoration: underline}

mark{color: #ca3535;background: none}

h1,h2,h3{font-weight: normal!important}
h1{font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}

.logo a img{max-width: 100%}

.swipe {min-height: 320px;position: relative;overflow: hidden;visibility: hidden}
.swipe-wrap {position: relative;overflow: hidden}
.swipe-wrap > section {width:100%;position:relative;float:left}

html, body, .swipe, .swipe-wrap,.mainpage-item.page-item.active, .mainpage-item.page-item, .page-item .mainpage-wrapper {height: 100%;min-height: 635px}

/*Dimmer*/

.ui.dimmed.dimmable>.ui.animating.dimmer, .ui.dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {width: 100%;height: 100%;display: block;opacity: 1; z-index: 999}
.ui.dimmer{width: 0;height: 0;display: none;position: absolute;top: 0!important;left: 0!important;text-align: center;vertical-align: middle;line-height: 1;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: .5s;animation-duration: .5s;-webkit-transition: background-color .5s linear;transition: background-color .5s linear;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;z-index: 1000;}
.ui.dimmer .large.ui.loader, .ui.inverted .large.ui.loader {background-image: url(images/spinner.gif)}
.ui.text.loader {width: 37px;height: auto!important;padding-top: 37px}
.ui.loader {position: absolute;top: 50%;left: 50%;margin: 0;z-index: 1000;-webkit-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}


/*Top header
*******************************************************************************************************************************/
.top-header{width: 100%;border-bottom: 1px solid #e3e3e3;position: absolute;display: none}

.top-header.mobile{position: static}

.top-header.show{display: block}
	.top-header-i{max-width: 1180px;margin-bottom: 5.2%;margin: 0 auto;padding:3.90625% 3.90625% 0 3.90625%;position:relative}
		.top-header-i nav ul li:first-child, .info-items .info-item:first-child{margin-left: 0 !important}
		.top-header-i nav{width: 100%; margin-top: -20px}
	  		.top-header-i nav ul{height: 74px;text-align: right;font-size: 0}
				.top-header-i nav ul li{margin-left: 5%;display:inline-block}
				.top-header-i nav ul li:hover a, .top-header-i nav ul li.active a{border-bottom: 1px solid black;cursor: pointer;text-decoration: none !important}
					.mobile .top-header-i nav ul li.active a{border-bottom: 0 !important}
		  			.top-header-i nav ul li a{height: 20px;padding-bottom: 54px;display: block;color: #ca3535;letter-spacing: 1px; font-size: 2rem;text-transform: uppercase}
		  			.top-header-i nav ul li:hover a, .top-header-i nav ul li.active a{color:black}

/*Page-wrapper
*******************************************************************************************************************************/
.page-wrapper{max-width: 1280px; padding: 2.6%; margin: 0 auto;padding-top: 284px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;z-index: 1}
.page-wrapper.mobile{padding-top: 20px !important;}

	/*Page item*/
	.mainpage-item.page-item{background: #ca3535}
	.page-item.active{visibility: visible !important}


	/*Inner Page*/
	.inner-page .footer{padding: 5% 24.66% 5% 23.67%;border-top: 1px solid #e3e3e3;font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
	.inner-page .footer.projects-footer{padding-left: 47.3%;padding-right: 0; clear: both}
		.inner-page .footer h3{font-size: 4.3rem;line-height: 5rem}
		.inner-page .footer a{color: #ca3535;margin-top: 4%; display: block;font-size: 7rem;text-decoration: none;white-space: nowrap}
		.inner-page .page-wrapper .footer a:hover{border-bottom: 3px solid #ca3535}

	/*Company page*/
	.content-promo{padding: 0 10.2% 3.64% 23.43%} 
	.content-promo h1{font-size: 4.8rem;line-height: 5.8rem;font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif} 
	.promo-items{margin-bottom: 5.6%;}
	.promo-items .promo-item p{line-height: 2.6rem; margin: 2.6% 21.2% 3% 23.7%; font-size: 2rem; font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
	.promo-items .promo-item h2{font-size: 7.2rem}
	.sign{margin-left:21.88%;color:#ca3535;font-family:'apercu_prolight',Arial, "Helvetica Neue",Helvetica,sans-serif;font-size:9rem;line-height: 15%}
	
	/*Projects*/
	.left-col{width: 37%; padding-right: 10.4%;float: left;}
		.left-col h1{font-size: 7.2rem; line-height: 8.2rem}
	.right-col{width: 50%;float:left;word-wrap:break-word;padding-top: 2.5%; padding-bottom: 2.7%}
		.projects-items li {margin-bottom: 6.4%}
		.projects-items li.with-figure a{text-decoration: none}
		.projects-items li *{font-family:'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
		.projects-items li figure{margin-bottom: 7.1%}
		.projects-items li a,.projects-items li span{font-size: 2.4rem; color: black;line-height: 1.4rem}
		.projects-items li small{padding-top: 1%; display: block;color: #b2b2b2;font-size: 1.8rem;line-height: 1.8rem}
		.projects-items li.with-figure small{padding-top: 1.6%}
		.projects-items li.with-figure a span:hover{border-bottom: 2px solid black}
		  .projects-items li figure img{max-width: 100%;margin-left: -2.7%}
		  .projects-items li figure figcaption{margin: 1.2% 0 0 -2.1%;padding: 0 0 1% 2.3%;border-left: 1px solid #ca3535}
	  	.right-col .footer{padding: 0;border: 0;}

	/*Info items*/
	.info-items{margin-bottom: 5.9%;}
	  .info-items .info-item{width: 25.66%;margin-left:4.2373%;margin-top: 0.8%;float: left}
		.info-items .info-item p.accent{color: #797979; font-size: 2.3rem}
		.info-items .info-item p{font-size: 3.4rem; white-space: nowrap; font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif;line-height: 4rem}
		.info-items .info-item p.address{white-space: normal}
		.info-items .info-item p.tel{margin-left: -5.8%;letter-spacing: -0.8px}
		.info-items .info-item a{color: #ca3535; word-wrap:break-word;letter-spacing: 0.4px;font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}
		  .info-items .info-item p strong{font-family: 'apercu_proregular', Arial, "Helvetica Neue", Helvetica, sans-serif}
		  .info-items .info-item p strong span{font-family: 'apercu_prolight', Arial, "Helvetica Neue", Helvetica, sans-serif}
		.info-item.phone-item{width: 28%; margin-left: 4.8%;}
	.social-b{width: 34px;height: 34px;display: inline-block;-webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px; border: 2px solid black; background: url(images/fb-tw-icons.png) no-repeat 0 6px;}
	.twitter{margin-left: 8%;margin-top: 13px;background-position: 0 -23px !important}
	.info-item.social-item{width: 10%;margin-left: 0;margin-top: 1.7%;float: right;text-align: right}

	.projects-items li figure img.retina-image{width: 84.827586%}
	#maparea{height: 694px; position: relative}
		#maparea a{display: block}
			#maparea a img{width: 100%}

		/*Mainpage wrapper*/
	.mainpage-wrapper{padding: 0 4%;background: #ca3535}
	  .mainpage-wrapper .header{margin: 0;padding-top: 3%}
		.mainpage-wrapper .header h1{max-width: 60%;color: white;font-size: 8.5rem;line-height: 10.1rem}

	.mainpage-wrapper  .footer{height: 109px;padding: 0 4% 4% 4%;position: absolute;text-align: justify;right: 0;left: 0;bottom: 0}
	.mainpage-wrapper  .footer:after{width: 100%;height: 0;content: '';display: inline-block;font-size:0;line-height:0}
	.mainpage-wrapper .footer{border-top: 0}
		.mainpage-wrapper .footer nav, .mainpage-wrapper  .footer .logo{display: inline-block; vertical-align: bottom}
		.mainpage-wrapper .footer nav{width: 76%; text-transform: uppercase;} 
			.mainpage-wrapper  .footer .logo{width: 19%;margin-bottom: 4px}
			.mainpage-wrapper .footer a{font-size: 2rem; line-height: 2rem}
			.mainpage-wrapper .footer nav ul{text-align: right;line-height: 2rem}
				.mainpage-wrapper .footer nav ul li{margin-left: 7%;display: inline-block}
				.mainpage-wrapper .footer nav ul li a{color: #ffa8a8}



