/*Structure
*******************************************************************************************************************************/
body,html{height:100%;background:#ca3535}

.main-page{background:#ca3535}


#container{text-align:left;position:relative;z-index:10}


.main-page-block{height:650px;position:relative}
	.main-page-block .slogan{max-width:1200px;padding:45px 0 0 50px;font:bold 85px/102px 'apercu_probold';color:#fff}
	.main-page-block .logo{position:absolute;bottom:30px;left:0}

	.main-page .navigation{position:absolute;bottom:50px;right:50px;z-index:11}
		.main-page .navigation li{}
			.main-page .navigation li a{color:#ffa8a8}



.navigation{overflow:hidden;font-size:20px;text-transform:uppercase;letter-spacing:1px}
	.navigation li{padding:0 0 0 65px;float:left;position:relative}

/*Default
*******************************************************************************************************************************/
.float-left{float:left}
.float-right{float:right}
.dnone{display:none !important}
.icon,.ar{display:block;position:absolute;overflow:hidden;font-size:1px;line-height:normal}
a .icon{cursor:pointer}
.dotted-link a,.dotted-link a:hover,.dotted-link,.dotted-link:hover{text-decoration:none;border-bottom:1px dotted}
.underline:hover{text-decoration:underline !important}
.fs-15{font-size:15px}

button{width:auto;padding:0;margin:0;background:none;border:none;overflow:visible;font-size:0;line-height:0}

/*Typography
*******************************************************************************************************************************/
body,input,textarea,option,select{font-size:13px;color:#000;font-family:'apercu_probold'}
a,
a span.link{color:#427443;text-decoration:none}
a:hover,
a:hover span.link{color:#57a848;text-decoration:underline}