.inner-page-header .logo{display: inline-block;width: 0%;}
.top-header{position: absolute; width: 100%;}
.page-wrapper{max-width: 1180px; padding: 3.90625%; margin: 0 auto;padding-top: 270px; z-index: 1}
.inner-page-header nav{width: 100%; margin-top: -20px;}
.inner-page-header{margin-bottom: 5.2%; max-width: 1180px; margin: 0 auto; padding: 3.90625% 3.90625% 0 3.90625%; }
.inner-page-header nav ul li{display: inline-block;margin-left: 7%;height: 60px;}
.inner-page-header nav ul{padding-left: 47.457627%;border-bottom: 1px solid #e3e3e3; height: 60px;font-size: 0;}
.inner-page-header nav ul li a{color: #ca3535; font-size: 2rem;}
.inner-page-header nav ul li:hover, .inner-page-header nav ul li.active{border-bottom: 1px solid black; cursor: pointer;}
.inner-page-header nav ul li:hover a, .inner-page-header nav ul li.active a{color:black;}
.content-promo{padding: 0 10.2% 5.9% 24.7% } 
.content-promo h1{font-size: 4.8rem;line-height: 6rem;} 
.promo-items{margin-bottom: 6%;}
.promo-items .promo-item p{line-height: 3rem;margin: 3% 21.2% 3% 24.7%; font-size: 2rem; font-family: 'apercu_prolight';}
.promo-items .promo-item h2{font-size: 7.2rem}
.inner-page footer{border-top: 1px solid #e3e3e3; padding:5.678% 29.66% 6.6% 24.7%;font-family: 'apercu_prolight'}
.inner-page footer h2{font-size: 4.3rem;}
.inner-page footer a{font-size: 7rem; color: #ca3535;margin-top: 4%; display: block;}
.left-column{width: 37%; padding-right: 10.3%;display: inline-block;vertical-align: top;}
.left-column h1{font-size: 7.2rem;}
.content-column{display: inline-block;width: 50%; word-wrap:break-word;}
.project-item *{font-family:'apercu_prolight';}
.project-item {margin-bottom: 9%;}
.project-item a{font-size: 2.4rem; color: black;}
.project-item p{font-size: 1.8rem; color: #b2b2b2;margin-top: 2%;}
.project-item figure img{margin-left: -2.7%; max-width: 100%;}
.project-item figure figcaption{border-left: 1px solid #ca3535;margin-left: -2.7%;padding-left: 2.7%;}
.content-column footer{border: 0; padding: 0;}
.info-items{margin-bottom: 5.9%;}
.info-items .info-item{ display: inline-block;vertical-align: top; width: 25.66%; margin-left:4.2373%; }
.info-items .info-item h1{ color: #797979; font-size: 2.3rem; }
.info-items .info-item p{font-size: 3.4rem; font-family: 'apercu_prolight';line-height: 4rem;}
.info-items .info-item a{color: #ca3535; word-wrap:break-word;}
.info-items .info-item p strong{font-family: 'apercu_proregular'}
.info-item.phone-item{width: 28%; margin-left: 2%;}
.first{margin-left: 0 !important;}
.social-b{-webkit-border-radius: 99px;-moz-border-radius: 99px;border-radius: 99px; display: inline-block;height: 39px;width: 39px; border: 3px solid black; background: url(../images/fb-tw-icons.png) no-repeat 0 8px;}
.twitter{background-position: 0 -21px;margin-left: 8%}
.info-item.social-item{width: 12.7%; float: right;text-align: right;margin-left: 0;}
.project-item figure img.retina-image{width: 84.827586%;}
#maparea{height: 694px;}
