.mainpage-wrapper{
	padding: 0 4%;
	min-height: 636px;
	background: #ca3535;
}
.mainpage-wrapper header{
	margin: 0;
	padding-top: 3%;
}
.mainpage-wrapper header h1{
	color: white;
	font-size: 8.5rem;
	max-width: 60%;
	line-height: 10.1rem;
}

.mainpage-wrapper  footer{	
	position: absolute; 
	right: 0;
	left: 0;
	bottom: 0;
	padding: 0 4% 4% 4%;
}

.mainpage-wrapper footer nav, .mainpage-wrapper  footer .logo{
	display: inline-block; vertical-align: baseline;
}
.mainpage-wrapper footer nav{width: 80%;} 
.mainpage-wrapper  footer .logo{width: 19%;}
.mainpage-wrapper footer nav ul li{
	display: inline-block;
	margin-left: 7%;
}
.mainpage-wrapper footer a{font-size: 2rem}
.mainpage-wrapper footer nav ul{text-align: right;}
	
.mainpage-wrapper footer nav ul li a{color: #ffa8a8;}
.mainpage-wrapper footer{border-top: 0;}
